body{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto;
}

#mainTitle{
    grid-column-start: 2;
    text-align: center;
}

#gameWindow{
    width: 800px;
    height: 608px;
    grid-column-start: 2;
    background-color: blue;
}